@charset "utf-8";


/*
   Final Project
   
	games Style Sheet
	Author: Jiongjun Liu
	Date:   07/06/2020
	
	Filename: fl_gallery.css

*/

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 0px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}


html{
	box-sizing:border-box;
}
*,*:before,*:after{
	box-sizing:inherit;
}



.col{
float:left;
width:100%;
}

.col.s1{
width:8.33333%;
}

.row-padding, .row-padding>.col{
padding:0 8px;
}

.opacity,.whover-opacity:hover{
opacity:0.60;
}
.opacity-off,.hover-opacity-off:hover{
opacity:1;
}

.section{
margin-top:16px;
margin-bottom:16px;
}


